<!DOCTYPE html>
<html lang="en">

<head>
	<base href="../../../">
	<title>Metronic - the world's #1 selling Bootstrap Admin Theme Ecosystem for HTML, Vue, React, Angular &amp; Laravel
		by Keenthemes</title>
	<meta charset="utf-8" />
	<meta name="description"
		content="The most advanced Bootstrap Admin Theme on Themeforest trusted by 94,000 beginners and professionals. Multi-demo, Dark Mode, RTL support and complete React, Angular, Vue &amp; Laravel versions. Grab your copy now and get life-time updates for free." />
	<meta name="keywords"
		content="Metronic, bootstrap, bootstrap 5, Angular, VueJs, React, Laravel, admin themes, web design, figma, web development, free templates, free admin themes, bootstrap theme, bootstrap template, bootstrap dashboard, bootstrap dak mode, bootstrap button, bootstrap datepicker, bootstrap timepicker, fullcalendar, datatables, flaticon" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="article" />
	<meta property="og:title"
		content="Metronic - Bootstrap 5 HTML, VueJS, React, Angular &amp; Laravel Admin Dashboard Theme" />
	<meta property="og:url" content="https://keenthemes.com/metronic" />
	<meta property="og:site_name" content="Keenthemes | Metronic" />
	<link rel="canonical" href="https://preview.keenthemes.com/metronic8" />
	<link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
	<link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
</head>

<body id="kt_body" class="bg-body">
	<div class="d-flex flex-column flex-root">
		<div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed"
			style="background-image: url(assets/media/illustrations/sketchy-1/14.png)">
			<div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">

				<% if (message.length > 0) { %>
				<div class="alert alert-danger"><%= message %></div>
				<% } %>
				<div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
					<form class="form w-100" novalidate="novalidate" id="login_form" method="POST" action="/">
						<div class="text-center mb-10">
							<h1 class="text-dark mb-3">Sign In to Metronic</h1>
							<div class="text-gray-400 fw-bold fs-4">New Here?
								<a href="../../demo1/dist/authentication/layouts/basic/sign-up.html"
									class="link-primary fw-bolder">Create an Account</a></div>
						</div>
						<div class="fv-row mb-10">
							<label class="form-label fs-6 fw-bolder text-dark">Email</label>
							<input class="form-control form-control-lg form-control-solid" type="text" name="email" />
						</div>
						<div class="fv-row mb-10">
							<div class="d-flex flex-stack mb-2">
								<label class="form-label fw-bolder text-dark fs-6 mb-0">Password</label>
								<a href="../../demo1/dist/authentication/layouts/basic/password-reset.html"
									class="link-primary fs-6 fw-bolder">Forgot Password ?</a>
							</div>
							<input class="form-control form-control-lg form-control-solid" type="password"
								name="password" autocomplete="off" />
						</div>
						<div class="text-center">
							<button type="submit" id="submit" name="submit" class="btn btn-lg btn-primary w-100 mb-5">
								<span class="indicator-label">Continue</span>
								<span class="indicator-progress">Please wait...
									<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
							</button>
							<div class="text-center text-muted text-uppercase fw-bolder mb-5">or</div>
							<a href="#" class="btn btn-flex flex-center btn-light btn-lg w-100 mb-5">
								<img alt="Logo" src="assets/media/svg/brand-logos/google-icon.svg"
									class="h-20px me-3" />Continue with Google</a>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
	<script src="assets/plugins/global/plugins.bundle.js"></script>
	<script src="assets/js/scripts.bundle.js"></script>
	<script src="assets/js/custom/authentication/sign-in/general.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
	<script>
		$(document).ready(function () {
			$("#login_form").validate({
				rules: {
					email: {
						required: true,
					},
					password: {
						required: true,
					}
				},
				messages: {
					email: {
						required: "Please Enter email"
					},
					password: {
						required: "Please Enter password"
					}
				},
				errorPlacement: function (error, element) {
					error.addClass('invalid-feedback');
					element.parent().append(error);
				},
				highlight: function (element, errorClass, validClass) {
					$(element).addClass('is-invalid');
				},
				unhighlight: function (element, errorClass, validClass) {
					$(element).removeClass('is-invalid');
				},

				submitHandler: function (form) {
					form.submit();
				}
			});
		})
	</script>

</body>

</html>
